<article class="app-collection-item">
    <h4><a href="{{ url_for('view_item', item_id=item.file_identifier) }}">{{ item.resource.title.value }}</a></h4>
    <dl class="bsk-dl-horizontal">
        <dt>Version:</dt>
        <dd>{{ item.resource.edition }}</dd>
        <dt>Released:</dt>
        <dd>
            {{ item.resource.dates_by_type.released.display_value }}
        </dd>
        <dt>Publisher:</dt>
        <dd>{{ item.resource.contacts_by_role.publisher.0.organisation.display_name }}</dd>
    </dl>
    <p>{{ item.resource.abstract }}</p>
</article>
