## Copy this file to `.flaskenv` and change values as needed
## This file is for public environment variables - see `.env` for private variables
## Entries prefixed by a `#` have a default value that can be changed if needed by removing the `#` comment
## Entries prefixed by a `#!` are set elsewhere (typically because they are application secrets set in .env)

## Feature flags
# APP_ENABLE_FILE_LOGGING=False
# APP_ENABLE_SENTRY=True

# Settings
# APP_LOG_FILE_PATH=/var/log/app/app.log
# APP_AUTH_SESSION_FILE_PATH=~/.config/scar_add_metadata_toolbox/auth.json

## Sentry - Get DSN from https://sentry.io - this value is not a secret
SENTRY_DSN=https://xxx.ingest.sentry.io/xxx

## Azure authentication (Client/Editor) - Get from https://portal.azure.com/
AUTH_CLIENT_TENANCY=https://login.microsoftonline.com/xxx
AUTH_CLIENT_ID=xxx
AUTH_CLIENT_SCOPES="api://xxx/Records.Read.All"

## Azure authentication (Server/Catalogue) - Get from https://portal.azure.com
AUTH_SERVER_TENANCY=xxx
AUTH_SERVER_ID=xxx

## CSW repository (client)
# APP_CSW_LOG_FILE_PATH=/var/log/app/csw.log
# CSW_ENDPOINT_UNPUBLISHED=http://localhost:9000/csw/unpublished
# CSW_ENDPOINT_PUBLISHED=http://localhost:9000/csw/published

## CSW repository (server)
#! CSW_UNPUBLISHED_DB_CONNECTION
#! CSW_PUBLISHED_DB_CONNECTION

# Static website export
STATIC_BUILD_DIR="./scar_add_metadata_toolbox/build"
S3_BUCKET="www.example.com"
