CSW_ENDPOINT_UNPUBLISHED=https://api.bas.ac.uk/data/metadata/add/csw/v1/unpublished
CSW_ENDPOINT_PUBLISHED=https://api.bas.ac.uk/data/metadata/add/csw/v1/published
STATIC_BUILD_DIR=./build
S3_BUCKET=${app_s3_static_site_bucket}
APP_AUTH_SESSION_FILE_PATH=/root/.config/scar_add_metadata_toolbox/auth/auth.json
