<section class="app-item-tab app-item-data">
    <header>
        <h2><i class="far fa-cube"></i> Data</h2>
    </header>
    <table class="bsk-table bsk-table-responsive">
        <thead>
            <tr>
                <th>Format</th>
                <th class="bsk-text-center">Size</th>
                <th class="bsk-text-right">Access</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer_option in item.resource.transfer_options %}
                <tr>
                    <td>
                        {% if transfer_option.format.format == 'wms' %}
                            <abbr title="OGC Web Map Service">Web Map Service (WMS)</abbr>
                        {% elif transfer_option.format.format == 'gpkg' %}
                            <abbr title="OGC GeoPackage">GeoPackage</abbr>
                        {% elif transfer_option.format.format == 'shp' %}
                            <abbr title="ESRI Shapefile">Shapefile</abbr>
                        {% else %}
                            <span class="bsk-text-muted">Unknown</span>
                        {% endif %}
                    </td>
                    <td class="bsk-text-center">
                        {% if transfer_option.size %}
                            {{ transfer_option.size.magnitude }} {{ transfer_option.size.unit }}
                        {% elif transfer_option.format.format == 'wms' %}
                            <span class="bsk-text-muted">N/A</span>
                        {% else %}
                            <span class="bsk-text-muted">Unknown</span>
                        {% endif %}
                    </td>
                    <td class="bsk-text-right">
                        {% if transfer_option.online_resource.href %}
                            {% set calc_btn_variant = 'bsk-btn-default' %}
                            {% if transfer_option.format.format == item.resource.preferred_transfer_option_format %}
                                {% set calc_btn_variant = 'bsk-btn-primary' %}
                            {% endif %}
                            {% if transfer_option.format.format == 'wms' %}
                                <button type="button" class="bsk-btn {{ calc_btn_variant }}" data-toggle="collapse" data-target="#item-wms-info-layer-{{ transfer_option.format.layer }}" aria-expanded="false" aria-label="Close" aria-controls="#item-wms-info-layer-{{ transfer_option.format.layer }}">
                                    Add layer to GIS
                                    <i class="fa-fw far fa-layer-plus"></i>
                                </button>
                            {% else %}
                                <a class="bsk-btn {{ calc_btn_variant }}" href="{{ transfer_option.online_resource.href }}">
                                    Download file
                                    <i class="fa-fw far fa-download"></i>
                                </a>
                            {% endif %}
                        {% else %}
                            <span class="bsk-text-muted">Not Available</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="bsk-alert bsk-alert-highlight bsk-alert-info">
        Please <a href="#item-details-contact" class="bsk-alert-link">contact us</a> if you need this item in another format.
    </div>
    {% if item.resource.constraints.citation %}
        <div class="bsk-alert bsk-alert-solid bsk-alert-info">
            You <strong>must</strong> include an <a href="#item-details-citation" class="bsk-alert-link">acknowledgement</a> if you use this item.
        </div>
    {% endif %}
    {% for transfer_option in item.resource.transfer_options %}
        {% if transfer_option.format.format == 'wms' %}
            <div id="item-wms-info-layer-{{ transfer_option.format.layer }}" class="bsk-alert bsk-alert-block bsk-alert-outline bsk-alert-info bsk-collapse bsk-fade" role="alert">
                <button type="button" class="bsk-close" data-toggle="collapse" data-target="#item-wms-info-layer-{{ transfer_option.format.layer }}" aria-expanded="false" aria-label="Close" aria-controls="#item-wms-info-layer-{{ transfer_option.format.layer }}">&times;</button>
                <header class="bsk-alert-heading">
                    <div class="bsk-h4">Web Map Service instructions</div>
                </header>
                <div class="bsk-alert-body">
                    <p>
                        This item is available as a layer that can be added to a desktop or online GIS. <br />
                        This allows you to access up-to-date data as needed, and ensures we prioritise data that is used most.
                    </p>
                    <p>
                        The steps needed to add this layer will vary on the software or service you're using.<br/>
                        You will need to use the settings below when asked.
                    </p>
                    <dl class="bsk-dl-horizontal bsk-dl-horizontal-lg">
                        <dt>Server URL</dt>
                        <dd><code>{{ transfer_option.format.endpoint }}</code></dd>
                        <dt>Layer name</dt>
                        <dd><code>{{ transfer_option.format.layer }}</code></dd>
                        <dt>Instructions</dt>
                        <dd>
                            <div>
                                <a href="https://docs.qgis.org/3.10/en/docs/user_manual/working_with_ogc/ogc_client_support.html#ogc-wms">
                                    Instructions for QGIS
                                    <i class="far fa-external-link"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://pro.arcgis.com/en/pro-app/help/data/services/add-wms-services.htm">
                                    Instructions for ESRI ArcPro
                                    <i class="far fa-external-link"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://desktop.arcgis.com/en/arcmap/10.3/map/web-maps-and-services/adding-wms-services.htm">
                                    Instructions for ESRI ArcGIS
                                    <i class="far fa-external-link"></i>
                                </a>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>
