<section class="app-item-tab app-item-licence">
    <header>
        <h2><i class="far fa-file-certificate"></i> Licence</h2>
    </header>
    {% if item.resource.constraints.copyright.reformat_statement %}
        {% if item.resource.constraints.copyright.code == 'cc-by-4.0' %}
            <dl class="bsk-dl-horizontal">
                <dt>Item licence</dt>
                <dd>
                    <a href="{{ item.resource.constraints.copyright.href }}">
                        Creative Commons Attribution 4.0 International (CC BY 4.0)
                        <i class="far fa-external-link"></i>
                    </a>
                </dd>
                <dt>Licence summary</dt>
                <dd>
                    <strong>You are free to:</strong>
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li"><i class="fab fa-fw fa-2x fa-creative-commons-share"></i></span>
                            <div class="push-down"><strong>Share</strong> — copy and redistribute this item in any medium or format</div>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fab fa-fw fa-2x fa-creative-commons-remix"></i></span>
                            <div class="push-down"><strong>Adapt</strong> — remix, transform, and build upon this item for any purpose, including commercial</div>
                        </li>
                    </ul>
                    <strong>Providing that you:</strong>
                    <ul class="fa-ul">
                        <li>
                            <span class="fa-li"><i class="fab fa-fw fa-2x fa-creative-commons-by"></i></span>
                            <div><strong>Include Attribution</strong> — By including a <a href="#item-details-citation">citation</a>, which must not suggest endorsement of you or your use</div>
                        </li>
                        <li>
                            <span class="fa-li"><i class="far fa-fw fa-2x fa-ban"></i></span>
                            <div><strong>Don't include Additional Restrictions</strong> — You may not legally restrict others from doing anything the license permits</div>
                        </li>
                    </ul>
                    <div class="bsk-alert bsk-alert-highlight bsk-alert-info app-summary-alert">
                        This is a short licence summary, see the <a class="bsk-alert-link" href="{{ item.resource.constraints.copyright.href }}">full summary <i class="far fa-external-link"></i></a> for more information and legal text.
                    </div>
                </dd>
            </dl>
        {% endif %}
    {% else %}
        {{ item.resource.constraints.copyright }}
    {% endif %}
</section>
