<section class="app-item-tab app-item-citation">
    <header>
        <h2><i class="far fa-quote-right"></i> Citation</h2>
    </header>
    {% if item.resource.constraints and item.resource.constraints.citation.reformat_statement and item.resource.constraints.citation.elements %}
        <dl class="bsk-dl-horizontal">
            <dt>Item URL</dt>
            <dd>
                <a href="{{ item.resource.identifiers_by_type.doi.href }}">
                    {{ item.resource.identifiers_by_type.doi.href }}
                    <i class="far fa-external-link"></i>
                </a>
            </dd>
            <dt>Item citation</dt>
            <dd>
                <blockquote>
                    {% for author in item.resource.constraints.citation.elements.author %}
                        {{ author.family }}, {{ author.given[0] }}.
                    {% endfor %}
                    <em>{{ item.resource.constraints.citation.elements.title }}</em>.
                    {{ item.resource.constraints.citation.elements.publisher }}.
                    <a href="{{ item.resource.identifiers_by_type.doi.href }}">
                        {{ item.resource.identifiers_by_type.doi.href }}
                        <i class="far fa-external-link"></i>
                    </a>
                </blockquote>
            </dd>
            <dt>Citation examples</dt>
            <dd class="app-citation-examples">
                <div>
                    <button class="bsk-btn bsk-btn-link" type="button" data-toggle="collapse" data-target="#item-citation-example-online-maps" aria-expanded="false" aria-controls="#item-citation-example-online-maps">
                        <i class="fas fa-fw fa-caret-right"></i>
                        <strong>As a layer in an online maps</strong>
                    </button>
                    <div id="item-citation-example-online-maps" class="bsk-collapse bsk-fade app-citation-example">
                        <p>Use this text as the layer's attribution:</p>
                        <blockquote>
                            <mark>
                                Blocked by &nbsp;
                                <a href="https://gitlab.data.bas.ac.uk/uk-pdc/metadata-infrastructure/metadata-standards/issues/140">
                                    <i class="fal fa-file-invoice"></i>
                                    uk-pdc/metadata-infrastructure/metadata-standards#140
                                </a>
                            </mark>
                        </blockquote>
                        <div class="bsk-alert bsk-alert-highlight bsk-alert-info">This will be set automatically if you use a web service to access this layer.</div>
                    </div>
                </div>
                <div>
                    <button class="bsk-btn bsk-btn-link" type="button" data-toggle="collapse" data-target="#item-citation-example-paper-figure" aria-expanded="false" aria-controls="#item-citation-example-paper-figure">
                        <i class="fas fa-fw fa-caret-right"></i>
                        <strong>As part of a figure in a paper</strong>
                    </button>
                    <div id="item-citation-example-paper-figure" class="bsk-collapse bsk-fade app-citation-example">
                        <blockquote>
                            <mark>
                                Blocked by &nbsp;
                                <a href="https://gitlab.data.bas.ac.uk/uk-pdc/metadata-infrastructure/metadata-standards/issues/140">
                                    <i class="fal fa-file-invoice"></i>
                                    uk-pdc/metadata-infrastructure/metadata-standards#140
                                </a>
                            </mark>
                        </blockquote>
                    </div>
                </div>
            </dd>
        </dl>
    {% elif item.resource.constraints %}
        <p>{{ item.resource.constraints.citation.statement }}</p>
    {% endif %}
</section>
